extends layout

block content
  h1= title
  p Welcome to #{title}

 
  input(type="radio", name="grp1", id="0")
  input(type="radio", name="grp1", id="1")
  input(type="radio", name="grp1", id="2")
  input(type="radio", name="grp1", id="3")
  input(type="radio", name="grp1", id="4")
  input(type="radio", name="grp1", id="5")
  input(type="radio", name="grp1", id="6")
  input(type="radio", name="grp1", id="7")

  <br>
  input(type="submit", id="voteAPI2", value="Submit your vote", onClick="voteAPI()" )
  <hr>
  input(type="submit", id="seeVotes", value="See votes", onClick="seeVotes()")